/* ----------------------------------------------------
	 General Section
------------------------------------------------------- */
body {
	margin: 0px;
}

/* ----------------------------------------------------
	 Header/Nav Section
------------------------------------------------------- */

header {
	position: relative;
	background:url("JPEG/Home_BG.jpg") ; 
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#nav {
	text-align: center;
	font-size: 14px;
	font-family: 'Lato', sans-serif;

	font-style: italic;
	font-weight:500;
	text-transform: uppercase;
	padding: 15px;
	letter-spacing: 5px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

header #nav-button {
    display: none;
}

#nav ul {
	list-style: none;
    padding: 0;
    margin: 0;

}

#nav ul li {
	display: inline-block;
	border-right: 1px solid white;
}


#nav li a {
    text-decoration: none;
    color: white; 
    padding: 0 1rem;
    transition: 0.2s linear;
}

#nav li a:hover {
  	color: black; 
 }

.container {
	text-align: center;
}

header #home-logo  {
	width:375px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#border {
	height: 85px;
	background:black;
	border-top: 2px solid white;
	border-bottom: 8px double white;
}



/* ----------------------------------------------------
	 Content Section
------------------------------------------------------- */
#content {
	text-align: center;
}

#content h2 {
	padding-top:20px;
	font-size: 58px;
	font-weight: 400;
	font-family: 'Lora', serif;
}

#content h2 .lightningFont {
	font-size: 50px;
	font-family: 'Alegreya', serif;
	font-style: italic;
}
#content hr {
	border-color:black;
	width: 275px;
	size:1px;
}

#content p {
	padding: 20px;
	color:grey;
	font-family: 'Lora', serif;
	font-style: italic;
}

#content #pictures {
	margin:0;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 0;
}

#content #pictures img {
	padding:0px;
	width:235px;
}

#content h2#contactTitle {
	padding: 0px;
	margin-bottom:30px;
	font-family: 'Poly', serif;
	font-style: italic;
	font-size: 55px;
	font-weight: 500;
}

#content p#contactNumber {
	padding:0px;
	margin:0px;
	color:black;
	font-weight: bold;
}

#content #socialButtons {
	padding-top:20px;
	padding-bottom:80px;
}

#content li{
	display:inline-block;
}

#social-icons .fa {
	width:100%;
	border:1px black solid;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 1.8em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:white;
	background-color:black; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
}

#social-icons .fa:hover {
	background-color:#018BD3; 
	border-color:#018BD3;

}

/* ----------------------------------------------------
	 Footer Section
------------------------------------------------------- */

footer {
	text-align:center;
	color:white;
	font-style: italic;
	background:black;
}

#footer {
	border-top-style: double;
	border-color:white;
	border-width: 6px;
	padding: 80px;
}


@media screen and (max-width: 960px) {
 	header #nav-button {
    	display: block; 
    	color: white;
    }
	#nav ul {
	    display: none;
	    padding-top: 0.7rem; 
	}
	#nav ul li {
	    display: block; 
	    border: none;
	    padding:5px;
	}

	#social-icons .fa {
		margin-left: 40px;
		margin-right: 40px;
	}	
}

@media screen and (min-width: 961px) {
    #nav  ul {
    	display: block !important; } 
}